/* Hand eines Gegenspielers */
.uno-other-hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 150px;
    height: 100px;
}

.uno-other-card-wrapper {
    position: relative;
    width: 60px;
    height: 91px;
}

/* Eigene Hand */
.uno-my-hand-wrapper {
    position: absolute;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.uno-my-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

    transition: all 500ms linear;

    height: 100%;
    width: 100%;
}

.uno-my-card-wrapper {
    position: relative;
    width: 90px;
    height: 136px;
    bottom: 0px;

    transition: bottom 0.04s linear;
}

.uno-my-card-wrapper:hover {
    height: 156px;
    z-index: 2;

    bottom: 20px;
}

.uno-card-ref-wrapper {
    width: 0px;
}