#home-description {
    padding: 2%;
}

#home-description-wrapper {
    margin: auto;
    color: #474747;
}

#home-description-wrapper h2 {
    font-size: 4em;
    margin-bottom: 30px;
}

#home-description-wrapper p {
    font-size: 1.8em;
}

#home-description-join-game-btn {
    margin-top: 4%;
    font-size: 0.8em;
}

#join-game-accept-btn {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: #474747;
    border-color: #474747;
}

#img-Startseite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

h2 {
    font-family: 'coffee+teademo-Regular';
    margin: 0px;
}

body {
    font-family: 'Calibri';
}