#startseite {
    background: url(../../img/background_6.png), url(../../img/background_7.png) top right, url(../../img/background_8.png) 100% 620px, url(../../img/background_4.png) 0% 1070px;
    background-repeat: no-repeat;
    background-size: 350px, 200px, 270px;
}

.footer{
    height: 50px;
    background-color: #474747;
}

#container-footer{
    padding-top: 10px;
}

a {
    color: white;
}