.start-game {
    width: 55%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.start-game-text {
    color: #474747;
    font-size: larger;
}

.start-game-btn {
    text-align: center;
}

.btn-xl {
    padding: 1.6% 10%;
    font-size: 2vw;
    border-radius: 10px;
}

.speechbubble{
    height: auto;
    width: 100%;
    max-width: 400px;
}

#start-game-error {
    margin-top: 12px;
    height: 20px;
}