html, body, #root, .lobby-wrapper, .container-fluid, .lobby-body-wrapper {
    height: 100%;
    margin: 0;
}

.sidebar-wrapper {
    margin: 0;
    padding: 0;
}

.lobby-body {
    height: 90vh;
}

#lobby-content {
    position: relative;
}

.camera {
    height: 24%;

    border: 2px solid black;
}

.top-left {
    position: absolute;
    
    top: 40px;
    left: 40px;
}

.top-right {
    position: absolute;

    top: 40px;
    right: 40px;
}

.bottom-left {
    position: absolute;

    bottom: 40px;
    left: 40px;
}

.bottom-right {
    position: absolute;
    
    bottom: 40px;
    right: 40px;
}

.start-game-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}