html, body, #root, .lobby-wrapper, .container-fluid, .lobby-body-wrapper {
    height: 100%;
    margin: 0;
}

.sidebar-wrapper {
    margin: 0;
    padding: 0;
}

.lobby-body {
    height: 90vh;
}

#lobby-content {
    position: relative;
}

.players {
    position: absolute;
    height: 100%;
    width: 100%;
}

.start-game-wrapper {
    position: absolute;
    z-index: 1;
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}