#aboutus{
    background: url(../../../img/background_6.png), url(../../../img/background_7.png) top right, url(../../../img/background_8.png) 100% 560px, url(../../../img/background_4.png) 0% 600px;
    background-repeat: no-repeat;
    background-size: 200px;
    min-height: 100%;
}

.aboutus-headline{
    font-family: 'coffee+tea demo';
    font-size: 50px;
}

#member-name{
    margin-bottom: 0.5rem;
}

#aboutus-team{
    text-align: center;
    float: left;
    width: 35%;
    padding-bottom: 32px;
    margin-left: 200px;
}

#aboutus-project{
    position: absolute;
    top: 200px;
    right: 50px;
    float: right;
    width: 35%;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 200px;
}