#aboutus{
    background: url(../../../img/background_6.png), url(../../../img/background_7.png) top right, url(../../../img/background_8.png) 100% 620px, url(../../../img/background_4.png) 0% 500px;
    background-repeat: no-repeat;
    background-size: 200px;
}

.aboutus-content{
    text-align: center;
}
