.footer{
    height: 50px;
    background-color: #474747;
}

.text-footer{
    background-color: transparent;
    border: none;
    margin-right: 20px; 
    color: grey;
}

#container-footer{
    padding-top: 10px;
}