html, body, #root, .game-wrapper, .container-fluid, .game-body {
  height: 100%;
  margin: 0;
}

.sidebar-wrapper {
  margin: 0;
  padding: 0;
}

.game-body-wrapper {
  height: 90vh;
}

#game-content-wrapper {
  position: relative;
}

.players {
  position: absolute;
  height: 100%;
  width: 100%;
}

.game-content {
  position: absolute;
  z-index: 1;
  
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-board {
  text-align: center;
}

.dice{
  border-color: black;
}

.blue{
  background-color: #00008B;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: white;
  padding: 10px 10px;
}

.house{
  padding: 10px 10px;
}
