.game-board {
  text-align: center;
}

.dice{
  border-color: black;
}

.blue{
  background-color: #00008B;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: white;
  padding: 10px 10px;
}

.house{
  padding: 10px 10px;
}
