html, body {
    margin: 0;
    text-align: center;
    height: 100vh;
    width: 100%;
}

#home {
    height: 100vh;
}

#gameSelectionWrapper {
    margin: 44px;
}

.gameItem {
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #141414;
    color: white;
    font-size: 24px;
    cursor: pointer;

    margin: 34px;
}

.gameItem:hover {
    background-color: tomato;
    color: black;
}

.inputField {
    margin: 30px;
}

.inputField p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.inputField h2 {
    margin-bottom: 0px;
}

#joinGameWrapper {
    margin: 100px auto;
    padding: 30px;

    background-color: #141414;
    color: white;

    height: 100vh;
}

.joinTextInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    width: 300px;

    box-sizing: border-box;
    border: 3px solid white;
    background-color: white;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

    border-radius: 4px;
    text-align: center;
}
  
.joinTextInput[type=text]:focus {
    border: 3px solid tomato;
}

#joinInputWrapper {
    width: 400px;
    margin: auto;
}

#commitRoomId {
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: #141414;
    font-size: 24px;
    cursor: pointer;

    margin: 16px;
}

#commitRoomId:hover {
    background-color: tomato;
    color: black;
}

#createGameInput {
    margin: auto;
    width: 35%;
}

#gameDescription {
    background-color: #141414;
    color: white;

    padding: 14px;
    border-radius: 8px;
    position: relative;
}

#goHomeBtn {
    color: rgb(148, 148, 148);
    font-weight: bold;
    font-size: 34px;
    background-color: #141414;

    border: none;

    position:absolute;
    top: 2px;
    right: 2px;
}

#goHomeBtn:hover {
    color:rgb(206, 100, 96);
}

#createNameInputWrapper {
    margin: 80px auto;
    padding: 16px;
}

#createGameBtn {
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #141414;
    color: white;
    font-size: 24px;
    cursor: pointer;

    margin: 36px;
}

#createGameBtn:hover {
    background-color: tomato;
    color: white;
}

#createPlayerNameInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;

    width: 300px;

    outline: 0;
    border: 0;

    box-sizing: border-box;
    border-bottom: 3px solid #141414;
    background-color: white;
    color: #141414;

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 4px;

    font-size: 34px;
    text-align: center;
}
  
#createPlayerNameInput[type=text]:focus {
    border-bottom: 3px solid tomato;
}

#fullWidthWrapper {
    width: 100%;
}

#gameStartBtn {
    min-width: 100px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #141414;
    color: white;
    font-size: 24px;
    cursor: pointer;

    margin: 36px 36px 0px 36px;
}

#gameStartBtn:hover {
    background-color: tomato;
    color: white;
    align-self: flex-end;
}

#gameStartBtn:disabled {
    background-color: lightslategray;
    color: white;
    cursor: default;
}

#lobby {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lobbyInformations {
    width: 100%;
    background-color: #141414;
    color: white;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#content {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 16px;
}

#chat {
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#posRight {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#history {
    text-align: left;
    flex-grow: 1;
    padding: 16px;

    border-collapse: collapse;
    border: 2px solid black;
    overflow-y: scroll;
}

#chatInputWrapper {
    width: 100%;
    height: 70px;
    align-self: flex-end;

    display: flex;
    align-items: flex-end;
}

#players {
    flex-grow: 1;
}

#chatInput {
    width: 80%;
    height: 50px;
    font-size: 18px;
    padding: 8px;

    border: 2px solid black;
    border-collapse: collapse;

    flex-grow: 1;
}

#chatInput:focus {
    outline: none;
}

#sendMsgBtn {
    min-width: 100px;
    padding: 21px 26px;
    border: none;
    background-color: #141414;
    color: white;
    font-size: 24px;
    cursor: pointer;

    margin: 0;

    float: right;
}

#sendMsgBtn:hover {
    background-color: tomato;
    color: white;
}