.nav-pills .nav-link {
    border-radius: .25rem;
    height: 110px;
    font-size: 70px;
    background-color:transparent;
    border: none;
    font-family: 'coffee+tea demo','Calibri';
}

.flex-sm-row {
    padding-top: 50px;
}