.nav-pills .nav-link {
    border-radius: 0;
    height: 110px;
    width: 300px;
    font-size: 70px;
    background-color:transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: transparent;
    font-family: 'coffee+tea demo','Calibri';
}

.flex-sm-row {
    padding-top: 50px;
}