#nameGame{
    font-size: xx-large;
    margin-right: 30px;
    padding-top: 20px;
}

#modal-create-game{
    background-image: url(../../../../../img/modal_background_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.m-5{
    padding-right: 14rem;
    padding-left: 14rem;
}

.home-collase-button {
    background-color: transparent;
    border: none;
    outline: none;

    transition: all 0.25s linear;
}