#nameGame{
    font-size: xx-large;
    margin-right: 30px;
    padding-top: 20px;
}

.m-5{
    padding-right: 12rem;
    padding-left: 12rem;
}

.home-collase-button {
    background-color: transparent;
    border: none;
    outline: none;

    transition: all 0.25s linear;
}